<!-- <router-outlet></router-outlet> -->

<app-loading></app-loading>
<div class="main-content">
    <section class="section full-height">
        <div class="section-body">
            <div class="full-height">
                <div class="card chat-box full-height" id="mychatbox">
                    <div class="card-header">
                        <div class="row">
                            <div class="col-8 col-md-12">
                                <img class="logo-custom d-none d-md-block d-lg-block" src="../assets/img/logo.svg">
                                <h4>Bienvenue sur Chatbot</h4>
                                <p class="d-none d-lg-block">Chatbot est notre plateforme de questions en ligne, choissez le sujet sur lequel vous
                                    souhaitez être éclairé.</p>
                            </div>
                        </div>
                    </div>
                    <div class="card-body chat-content">
                        <div class="chat-item" *ngFor="let message of conversation.history"
                            [ngClass]="{'chat-right' : message.bot, 'chat-left' : !message.bot}">
                            <div class="chat-details">
                                <div class="chat-text">{{message.content}}</div>
                                <div class="chat-time">{{message.createdAt | date : 'H:mm'}}</div>
                            </div>
                        </div>
                    </div>
                    <div class="card-footer chat-form p-2 row">

                        <div class="col-12 col-md-6 col-lg-3 mb-2" *ngFor="let question of questions"
                            (click)="selectQuestion(question)">
                            <div class="card card-success">
                                <div class="card-body">
                                    <p>{{question.title}}</p>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- Modals -->
    <div class="modal fade" id="endModal" tabindex="-1" role="dialog" aria-labelledby="endModalTitle" aria-hidden="true"
        data-backdrop="static" data-keyboard="false">
        <div class="modal-dialog modal-dialog-centered text-center" role="document">
            <div class="modal-content">
                <div class="modal-header justify-content-center">
                    <h5 class="modal-title">Avez-vous d'autres question ?</h5>
                </div>
                <div class="modal-body">
                    <button type="button" class="btn btn-success btn-lg mr-2" data-dismiss="modal"
                        (click)="restartEndTimer()">Oui, s'il vous plait.</button>
                    <button type="button" class="btn btn-danger btn-lg" (click)="sendData()">Non, merci</button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="byeModal" tabindex="-1" role="dialog" aria-labelledby="byeModalTitle" aria-hidden="true"
        data-backdrop="static" data-keyboard="false">
        <div class="modal-dialog modal-dialog-centered text-center" role="document">
            <div class="modal-content">
                <div class="modal-header justify-content-center">
                    <h5 class="modal-title">Merci d'avoir utilisé notre plateforme en ligne.</h5>
                </div>
                <div class="modal-body">
                    <p>N'hésitez pas à nous contacter <a
                            href="https://help.pandacola.com/hc/fr/requests/new">PANDACOLA</a> sur pour plus de
                        précisions.</p>
                    <a
                        href="https://help.pandacola.com/hc/fr/requests/new">https://help.pandacola.com/hc/fr/requests/new</a>
                </div>
            </div>
        </div>
    </div>
</div>